build --cxxopt='-std=c++17' --cxxopt=-Wimplicit-fallthrough --cxxopt=-Wextra --cxxopt=-Wshadow --cxxopt=-Wcast-align --cxxopt=-Wunused --cxxopt=-Wno-unused-function --cxxopt=-Woverloaded-virtual --cxxopt=-Wmisleading-indentation --cxxopt=-Wduplicated-cond  --cxxopt=-Wlogical-op --cxxopt=-Werror
